
header {
    background-image: url('https://images.unsplash.com/photo-1441742917377-57f78ee0e582?fit=crop&fm=jpg&h=1200&q=80&w=1600');
    height: 400px;
    background-size: cover;
    background-position: center center;
    padding-top: 100px;
    color: #EFEFEF;
    padding: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

nav.navbar.navbar-default.navbar-inverse {
    margin-bottom: 0;
}


header img {
    width: 150px;
    border-radius: 75px;
    margin-top: 30px;
    box-shadow: 0 0 10px #616060;
}

footer {
    height: 200px;
    line-height: 200px;
    text-align: center;
}

footer a {
    margin: 0 20px;
    font-size: 2em;
}
